<div
  class="banner"
  style="background-image: url({{userPublic.banner}});"
>
  <div class="profile-overlay"></div>
</div>
<main class="profile">
  <div class="profile-top">
    <div class="profile-top__left">
      <div class="profile__icon-wrapper" style="background-image:url({{userPublic.avatar}})">
      </div>
      <div class="profile__name">
        {{userPublic.username}}
      </div>
     
    </div>

    <div class="profile-top__right">
      {{#if user}}
        {{#if ownProfile}}
        <p>You can't follow yourself, dummy!</p>
        {{else}}
          <form method="POST" 
          {{#if isFollowing}}
            action="/profile/{{@root.userPublic.username}}/unfollow"
            {{else}}
            action="/profile/{{@root.userPublic.username}}/follow"
          {{/if}}
            class="profile__follow-form">
              <button class="profile__follow-btn">
              {{#if isFollowing}}
                Unfollow
                {{else}}
                Follow
              {{/if}}
              </button>
            </form>     
        {{/if}}
      {{else}}
      <a href="/authentication/sign-up">
        Sign up to follow people!
      </a>
      {{/if}}

            <p class="profile__tagline">
        &ldquo;{{userPublic.tagline}}&rdquo;
      </p>
      </div>
    {{!--<a class="btn btn--blue" href="/follow/{{user._id}}">Follow</a>
     <a class="btn btn--blue" href="/follow/{{user._id}}/delete">Unfollow</a>
      <div class="profile-top__buttons">
        <a href="" class="profile-top__button"></a> --}}
      </div>
    </div>
  </div>
  <h2 class="library-header">
    Library
  </h2>
  <div class="profile-library">
    {{#if currentlyWatching}}
    <h3 class="heading-3">
      Currently Watching
    </h3>
    <div class="library-grid">
      {{#each currentlyWatching}}
        <div class="library-item">
          <a href="/anime/{{anime.slug}}">
          <img
            src="{{anime.poster}}"
            alt=""
            class="library-item__poster"
          />
          </a>
          <div class="library-item__progress-line"></div>
          <div class="library-item__info">
            <span class="library-item__progress">
              {{anime.name}}
            </span>
            <span class="library-item__progress">
              {{progress}} / {{anime.length}}
            </span>
            <span class="library-item__rating">
              {{anime.rating}}
            </span>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h3>{{userPublic.username}} is not currently watching anything.</h3>
    {{/if}}
  </div>
  </div>
  <div class="profile-library">
    {{#if userPublic.favorites}}
    <h3 class="heading-3">
      Favorites
    </h3>
    <div class="library-grid">
    {{#each userPublic.favorites}}
      <div class="library-item">
        <a href="/anime/{{slug}}">
        <img
          src="{{poster}}"
          alt=""
          class="library-item__poster"
        />
        </a>
        <div class="library-item__info">
          <a href="/anime/{{slug}}"><span>{{name}}</span></a> - <span>{{length}} Episodes</span></div>
        </div>
    {{/each}}
    {{else}}
    <h3>{{userPublic.username}} has no favorites.<h3>
    {{/if}}
  </div>
  </div>
  <div class="profile-library">
    {{#if completed}}
    <h3 class="heading-3">
      Completed
    </h3>
    <div class="library-grid">
    {{#each completed}}
      <div class="library-item">
        <a href="/anime/{{anime.slug}}">
        <img
          src="{{anime.poster}}"
          alt=""
          class="library-item__poster"
        />
        </a>
        <div class="library-item__progress-line"></div>
        <div class="library-item__info">
          <span class="library-item__progress">{{anime.name}}</span>
          <span class="library-item__rating">
            {{anime.rating}}
          </span>
        </div>
        </div>
    {{/each}}
    {{else}}
    <h3>{{userPublic.username}} has not finished watching any shows.<h3>
    {{/if}}
  </div>
  </div>

</div>
  <aside class="profile-sidebar">
  <div class="follow">
      <h3>Friends</h3>

    {{#if friends}}
      {{#each friends  }}
        <div class="user">
          <div class="user__img-wrapper">
            <a href="/profile/{{username}}">
              <img src="{{avatar}}" alt="{{username}}'s Icon" class="user__img" />
            </a>
          </div>
          <div class="user__info">
            <a href="/profile/{{username}}">
              {{username}}
            </a>
          </div>
        </div>
      {{/each}}
    {{/if}}
    </div>
    
    <div class="follow">
      <h3>Following</h3>

    {{#if following}}
      {{#each following  }}
        <div class="user">
          <div class="user__img-wrapper">
          <a href="/profile/{{username}}">
            <img src="{{avatar}}" alt="{{username}}'s Icon" class="user__img" />
          </a>
        </div>
        <div class="user__info">
          <a href="/profile/{{username}}">
            {{username}}
          </a>
        </div>
        </div>
      {{/each}}
    {{/if}}

    </div>
    <div class="follow">
      <h3>Followers</h3>


      {{#if followers}}
 {{#each followers  }}
 <div class="user">
      <div class="user__img-wrapper">
        <a href="/profile/{{username}}">
          <img src="{{avatar}}" alt="{{username}}'s Icon" class="user__img" />
        </a>
      </div>
      <div class="user__info">
        <a href="/profile/{{username}}">
          {{username}}
        </a>
      </div>
      </div>
{{/each}}
{{/if}}



    </div>

    
  </aside>

{{#if user}}
  <div class="profile-post-area">
    <div class="post-form">
      <form
        method="POST"
        action="/profile/{{userPublic.username}}/post"
        class="post-form"
      >
        <label for="input-title">Tite</label>
        <input id="input-title" name="title" placeholder="Title" />
        <label for="input-content">
          Post
        </label>
        <textarea
          id="input-content"
          name="content"
          placeholder="Write your post..."
        ></textarea>
        <button type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
{{/if}}

<div class="profile-feed">
  {{#each userPublic.feed}}
    <h3 class="heading-3">
      {{title}}
    </h3>
    <p>
      {{content}}
    </p>
    {{#if @root.user}}
      {{#ifEquals creator @root.user._id}}
        <a href="/post/{{_id}}/update">
          Edit
        </a>
        <form action="/profile/{{@root.userPublic.username}}/{{id}}/delete" method="post">
          <button type="submit">
            Delete
          </button>
        </form>
      {{/ifEquals}}
    {{/if}}
  {{/each}}
</div>
</div>


</main>

