<div
  class="banner"
  style="background-image: url({{userPublic.banner}});"
>
  <div class="profile-overlay"></div>
</div>
<main class="profile">
  <div class="profile-top">
    <div class="profile-top__left">
      <div class="profile__icon-wrapper">
        <img class="profile__icon" src="{{userPublic.avatar}}" />
      </div>
      <div class="profile__name">
        {{userPublic.username}}
      </div>
     
    </div>

    <div class="profile-top__right">
       <form action="
      {{#if isFollowing}}
        /profile/{{userPublic._id}}/delete
        {{else}}
        /profile/{{userPublic._id}}
      {{/if}}
      " class="profile__follow-form">
        <button class="profile__follow-btn">
        {{#if isFollowing}}
        Unfollow
        {{else}}
        Follow
        {{/if}}
        </button>
      </form>     
      <p class="profile__tagline">
        Break through the heavens with your drill!
      </p>
    {{!--<a class="btn btn--blue" href="/follow/{{user._id}}">Follow</a>
     <a class="btn btn--blue" href="/follow/{{user._id}}/delete">Unfollow</a>
      <div class="profile-top__buttons">
        <a href="" class="profile-top__button"></a> --}}
      </div>
    </div>
  </div>
  <div class="profile-library" id="library">
      <h2 class="heading-2">
        Library
      </h2>
      <h3 class="heading-3">
        Currently Watching
      </h3>
      <div class="library-grid">
      {{#each library}}
        <div class="library-item">
          <img
            src="{{anime.poster}}"
            alt=""
            class="library-item__poster"
          />
          <div class="library-item__progress-line"></div>
          <div class="library-item__info">
            <span class="library-item__progress">
              {{anime.name}}
            </span>
            <span class="library-item__progress">
              {{anime.progress}} / {{anime.length}}
            </span>
            <span class="library-item__rating">
              {{anime.rating}}
            </span>
          </div>
        </div>
      {{/each}}
      {{! <table class="library-table">
        <thead class="library-heading">
          <tr>
            <tr class="status"></tr>
            <tr>
              Title
            </tr>
            <tr>
              Rating
            </tr>
            <tr>
              Progress
            </tr>
            <tr></tr>
          </tr>
        </thead>
        <tbody>
          <tr class="library-item">
            <td class="status"></td>
            <td class="library-item__poster-wrapper">
              <img
                src="https://images-na.ssl-images-amazon.com/images/I/71baDzj8PrL.jpg"
                alt=""
                class="library-item__poster"
              />
            </td>
            <td class="library-item__name">
              <p>
                Cowboy Bebop
              </p>
            </td>
            <td class="library-item__rating">
              <p>
                10
              </p>
            </td>
            <td class="library-item__progress">
              <p>
                <span>
                  25
                </span>
                /
                <span>
                  25
                </span>
              </p>
            </td>
            <td class="library-item__edit">
              <button>
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table> }}
    </div>
  </div>
  <aside class="profile-sidebar">
    <div>
      <h3 class="heading-3">
      Recent Activity
    </h3>
    </div>
    
    <div class="follow">
      <h3>Following</h3>

      {{#if usersFollowing}}
 {{#each usersFollowing  }}
       <div class="user">
      <div class="user__img-wrapper">
        <a href="/profile/{{followedId.username}}">
          <img src="{{followedId.avatar}}" alt="{{followedId.username}}'s Icon" class="user__img" />
        </a>
      </div>
      <div class="user__info">
        <a href="/profile/{{followedId.username}}">
          {{followedId.username}}
        </a>
      </div>
 {{/each}}
{{/if}}

    </div>
    <div class="follow">
      <h3>Followers</h3>


      {{#if usersFollowers}}
 {{#each usersFollowers  }}
 <div class="user">
      <div class="user__img-wrapper">
        <a href="/profile/{{followerId.username}}">
          <img src="{{followerId.avatar}}" alt="{{followerId.username}}'s Icon" class="user__img" />
        </a>
      </div>
      <div class="user__info">
        <a href="/profile/{{followerId.username}}">
          {{followerId.username}}
        </a>
      </div>
{{/each}}
{{/if}}



    </div>

    
  </aside>

{{#if user}}
  <div class="profile-post-area">
    <div class="post-form">
      <form
        method="POST"
        action="/profile/{{userPublic.username}}/post"
        class="post-form"
      >
        <label for="input-title"></label>
        <input id="input-title" name="title" placeholder="Title" />
        <label for="input-content">
          Post
        </label>
        <textarea
          id="input-content"
          name="content"
          placeholder="Write your post..."
        ></textarea>
        <button type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
{{/if}}

<div class="profile-feed">
  {{#each userPublic.feed}}
    <h3 class="heading-3">
      {{title}}
    </h3>
    <p>
      {{content}}
    </p>
    {{#if @root.user}}
      {{#ifEquals creator @root.user._id}}
        <a href="/post/{{_id}}/update">
          Edit
        </a>
        <form action="/profile/{{@root.userPublic.username}}/{{id}}/delete" method="post">
          <button type="submit">
            Delete
          </button>
        </form>
      {{/ifEquals}}
    {{/if}}
  {{/each}}
</div>
</div>


</main>

