

<h1>Profile</h1>

<span><strong>Name</strong>: {{userPublic.username}}</span>
<br />
<span><strong>Email</strong>: {{userPublic.email}}</span>

{{#each userPublic.feed}}
<p>{{title}}</p>
<p>{{content}}</p>
{{/each}}
{{#if user}}
   <img class="user-avatar" src="{{user.avatar}}" alt="{{user.username}}'s image">

<div class="comments">
  <form method="POST" action="/profile/{{userPublic.username}}/post" class="post-form">
    <label for="input-title"></label>
    <input id="input-title" name="title" placeholder="Title"></input>
    <label for="input-content">Post</label>
    <textarea id="input-content" name="content" placeholder="Write your post..."></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
{{/if}}
