<div
  class="profile-banner"
  style="background-image: url({{userPublic.banner}})"
>
  <div class="profile-overlay"></div>
</div>
<main class="profile">
  <div class="profile-top">
    <div class="profile-top__left">
      <div class="profile__icon-wrapper">
        <img class="profile__icon" src="{{userPublic.avatar}}" />
      </div>
      <div class="profile__name">
        {{userPublic.username}}
      </div>
    </div>
    <div class="profile-top__right">
      <img src="" alt="" class="profile__add-friend" />
      <div class="profile-top__buttons">
        <a href="" class="profile-top__button"></a>
      </div>
      <p class="profile__tagline">
        Break through the heavens with your drill!
      </p>
    </div>
  </div>
  <div class="profile-main">
    <div class="library-section" id="#library">
      <h2 class="heading-2">
        Library
      </h2>
      <h3 class="heading-3">
        Currently Watching
      </h3>
      <div class="library-grid">
        <div class="library-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71baDzj8PrL._AC_SY741_.jpg"
            alt=""
            class="library-item__poster"
          />
          <div class="library-item__progress-line"></div>
          <div class="library-item__info">
            <span class="library-item__progress">
              5
            </span>
            <span class="library-item__rating">
              8
            </span>
          </div>
        </div>
        <div class="library-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71baDzj8PrL._AC_SY741_.jpg"
            alt=""
            class="library-item__poster"
          />
          <div class="library-item__progress-line"></div>
          <div class="library-item__info">
            <span class="library-item__progress">
              5
            </span>
            <span class="library-item__rating">
              8
            </span>
          </div>
        </div>
        <div class="library-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71baDzj8PrL._AC_SY741_.jpg"
            alt=""
            class="library-item__poster"
          />
          <div class="library-item__progress-line"></div>
          <div class="library-item__info">
            <span class="library-item__progress">
              5
            </span>
            <span class="library-item__rating">
              8
            </span>
          </div>
        </div>
        <div class="library-item">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71baDzj8PrL._AC_SY741_.jpg"
            alt=""
            class="library-item__poster"
          />
          <div class="library-item__progress-line"></div>
          <div class="library-item__info">
            <span class="library-item__progress">
              5
            </span>
            <span class="library-item__rating">
              8
            </span>
          </div>
        </div>
      </div>
      {{! <table class="library-table">
        <thead class="library-heading">
          <tr>
            <tr class="status"></tr>
            <tr>
              Title
            </tr>
            <tr>
              Rating
            </tr>
            <tr>
              Progress
            </tr>
            <tr></tr>
          </tr>
        </thead>
        <tbody>
          <tr class="library-item">
            <td class="status"></td>
            <td class="library-item__poster-wrapper">
              <img
                src="https://images-na.ssl-images-amazon.com/images/I/71baDzj8PrL.jpg"
                alt=""
                class="library-item__poster"
              />
            </td>
            <td class="library-item__name">
              <p>
                Cowboy Bebop
              </p>
            </td>
            <td class="library-item__rating">
              <p>
                10
              </p>
            </td>
            <td class="library-item__progress">
              <p>
                <span>
                  25
                </span>
                /
                <span>
                  25
                </span>
              </p>
            </td>
            <td class="library-item__edit">
              <button>
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table> }}
    </div>
  </div>
  <aside class="profile-sidebar">
    <h3 class="heading-3">
      Recent Activity
    </h3>
  </aside>
</main>
<h1>
  Profile
</h1>
<span>
  <strong>
    Name
  </strong>
  :
  {{userPublic.username}}
</span>
<br />
<span>
  <strong>
    Email
  </strong>
  :
  {{userPublic.email}}
</span>
<div class="library">
  {{#each library}}
    <div class="library-entry">
      <img src="{{anime.poster}}" class="library-entry__img" />
      <p class="library-entry__name">
        {{anime.name}}
      </p>
      <p class="library-entry__rating">
        {{rating}}
      </p>
      <p class="library-entry__type">
        {{anime.type}}
      </p>
      <div class="library-entry__progress">
        <p class="library-entry__name">
          {{progress}}
        </p>
        /
        {{anime.length}}
      </div>
    </div>
  {{/each}}
</div>
{{#each userPublic.feed}}
  <p>
    {{title}}
  </p>
  <p>
    {{content}}
  </p>
{{/each}}
{{#ifEquals creator @root.user.role }}
  <a href="/post/{{_id}}/update">Edit</a>
  <form action="/post/{{id}}/delete" method="post">
  <button type="submit">Delete</button></form>
{{/ifEquals}}
{{#if user}}
  <div class="comments">
    <form
      method="POST"
      action="/profile/{{userPublic.username}}/post"
      class="post-form"
    >
      <label for="input-title"></label>
      <input id="input-title" name="title" placeholder="Title" />
      <label for="input-content">
        Post
      </label>
      <textarea
        id="input-content"
        name="content"
        placeholder="Write your post..."
      ></textarea>
      <button type="submit">
        Submit
      </button>
    </form>
  </div>
{{/if}}