<div class="profile-banner" style="background-image: url(https://images.alphacoders.com/119/thumb-1920-119481.jpg);">
</div>

<main class="profile">
  <div class="profile__top">
    <div class="profile__img-wrapper">
      <img class="profile__img" src="{{userPublic.avatar}}"></img>
    </div>
  </div>
  <div class="profile__top-info">
    <div class="profile__name">{{userPublic.username}}</div>
    <img src="" alt="" class="profile__add-friend">
    <p class="profile__tagline"></p>
  </div>

</main>
<h1>
  Profile
</h1>
<span>
  <strong>
    Name
  </strong>
  :
  {{userPublic.username}}
</span>
<br />
<span>
  <strong>
    Email
  </strong>
  :
  {{userPublic.email}}
</span>
<div class="library">
  {{#each library}}
    <div class="library-entry">
      <img src="{{anime.poster}}" class="library-entry__img">
      <p class="library-entry__name">{{anime.name}}</p>
      <p class="library-entry__rating">{{rating}}</p>
      <p class="library-entry__type">{{anime.type}}</p>
      <div class="library-entry__progress">
        <p class="library-entry__name">{{progress}}</p> / {{anime.length}}
      </div>
    </div>
  {{/each}}
</div>
{{#each userPublic.feed}}
  <p>
    {{title}}
  </p>
  <p>
    {{content}}
  </p>
{{/each}}
{{#if user}}
  <div class="comments">
    <form
      method="POST"
      action="/profile/{{userPublic.username}}/post"
      class="post-form"
    >
      <label for="input-title"></label>
      <input id="input-title" name="title" placeholder="Title" />
      <label for="input-content">
        Post
      </label>
      <textarea
        id="input-content"
        name="content"
        placeholder="Write your post..."
      ></textarea>
      <button type="submit">
        Submit
      </button>
    </form>
  </div>
{{/if}}
