<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="nav">
      <a class="nav__link" href="/">Home</a>
        <div class="profile">
      {{#if user}}
      <a class="nav__link" href="/followers">Followers</a>
      <a class="nav__link" href="/following">Following</a>
      <a class="nav__link" href="/users">Users</a>
       <img class="avatar" src="{{user.avatar}}">
          <a class="profile__icon" href="/profile/{{ user.username }}">{{user.username}}'s Profile</a>
          <div class="profile-dropdown">
            {{!-- <a href="/profile/{{set name here}}" class="profile-dropdown__link"></a> --}}
            <a href="/profile/settings" class="profile-dropdown__link">Settings</a>
            <form action="/authentication/sign-out" method="POST">
              <button class="profile-dropdown__link">Sign Out</button>
            </form>
          </div>
        </div>
        {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>
