<div class="search-header">
  <form class="search" method="POST">
  <label for="search__name-input" class="search__name-label"></label>
  <input name="name" id="search__name-input" class="search__input" placeholder="Search for Anime"></input>
</form>
</div>

{{#each anime}}
<img src="{{posterImage.original}}">
<a href="/anime/{{slug}}"><p>{{canonicalTitle}}</p></a>
<p>{{year}} - {{season}} - {{episodeCount}} episodes</p>
<p>{{synopsis}}</p>
{{/each}}