
{{#if following}}
<p class=""> {{user.username}}, you follow {{users.length}} users</p>
{{else}}
<p class=""> {{user.username}}, your have {{users.length}} followers</p>
{{/if}}

{{#if sad}}

<img src= "/public/images/sad.png">
{{/if}}

{{#if sad2}}

<img src= "/public/images/sad2.png">
{{/if}}


{{#each users as |user| }}
<blockquote ></blockquote>
  <h3 class="mb-0"><img id="imglist" src="{{user.avatar}}" alt=""><a class="usersFont" href="/profile/{{user.id}}">{{user.username}}</a></h3>
</blockquote>
{{/each}}
