
{{#if following}}
<p class="nav-link">{{user.username}}, you follow {{users.length}} users</p>
{{else}}
<p class="nav-link">{{user.username}}, your have {{users.length}} followers</p>
{{/if}}
{{#if sad}}
<h1>Don't be shy! Go follow people!</h1>
{{/if}}
{{#if sad2}}
<h1>Don't feel sad, someone will follow you!</h1>
{{/if}}

 {{#each users  }}
       <div class="user">
      <div class="user__img-wrapper">
        <a href="/profile/{{followedId.username}}">
          <img src="{{followedId.avatar}}" alt="{{followedId.username}}'s Icon" class="user__img" />
        </a>
      </div>
      <div class="user__info">
        <a href="/profile/{{followedId.username}}">
          {{followedId.username}}
        </a>
      </div>
{{/each}}


{{#each users }}
 <div class="user">
      <div class="user__img-wrapper">
        <a href="/profile/{{followerId.username}}">
          <img src="{{followerId.avatar}}" alt="{{followerId.username}}'s Icon" class="user__img" />
        </a>
      </div>
      <div class="user__info">
        <a href="/profile/{{followerId.username}}">
          {{followerId.username}}
        </a>
      </div>
{{/each}}




