<div
  class="banner"
  style="background-image: linear-gradient(184deg, rgba(88, 5, 5, 0.055) 0%, rgba(116, 3, 3, 0.61) 100%), url(
    {{data.anime.coverImage.large}}
    )"
  {{!-- style="background-image: url({{data.anime.coverImage.large}});" --}}
></div>
<main class="anime-page">
  <div class="anime-page-top">
    <div class="anime-page-top__left">
      {{> animeSidebar}}
      <div class="anime-page__name">
        {{data.anime.canonicalTitle}}
      </div>
    </div>
    <div class="anime-page-top__right">
      <p>
        {{data.anime.year}}
        -
        {{data.anime.season}}
        -
        {{data.anime.episodeCount}}
        episodes
      </p>
    </div>
  </div>
  <div class="anime-page-main">
    <div class="anime-page-synopsis-wrapper">
      <h3 class="heading-3">
        Synopsis
      </h3>
      <p class="anime-page-synopsis">
        {{data.anime.synopsis}}
      </p>
    </div>
  </div>
</main>
