<img src="{{anime.posterImage.original}}">
<a href="/anime/{{anime.slug}}"><p>{{anime.canonicalTitle}}</p></a>
<p>{{anime.year}} - {{anime.season}} - {{anime.episodeCount}} episodes</p>
<p>{{anime.synopsis}}</p>
